.navbar-brand{
  font-size:1.8em;
}

#topContainer{
  background-image: url("https://static.pexels.com/photos/1188/city-landmark-lights-night.jpg");
  height:400px;
  width: 100%;
  background-size: cover;

}
#topRow{
  text-align:center;
  margin-top:100px;
}
h1{
  color:red;
  font-size:300%
}
p{
  color:orange;
}
.bold{
  font-weight:bold;
}
.marginTop{
  margin-top:10px;
}
.title{
  font-size:300%;
  margin-top:100px;
}
.center{
  text-align:center;
}
